{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Aftalevilkår for brug af Danish Short Watch</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <h1>Aftalevilkår for brug af Danish Short Watch app</h1>
</header>

<section>

<p>Vi kan ikke garantere nøjagtigheden af data i Danish Short Watch-app'en (app'en). Disse data indsamles fra
    Finanstilsynets webportal, som er en database over virksomhedsmeddelelser indsendt af virksomheder,
    der i henhold til § 25 i den danske kapitalmarkedslov er forpligtet til at indsende oplysninger til den danske
    Finanstilsyn.</p>

    <p>Vi er ikke ansvarlige for, hvordan brugere anvender app'en eller de oplysninger, der er offentliggjort deri.</p>

    <p>Brugere er udelukkende ansvarlige for at downloade eller bruge information og andre ressourcer, der er offentligt
    tilgængelige i appen, herunder dem der tilgås gennem eksterne links.</p>

    <p>Vi kan ikke holdes ansvarlige for forsinkelser eller fejl i data.</p>

    <p>Vi er ikke ansvarlige for tab hos brugeren eller eventuelle indirekte tab, der måtte opstå.</p>

    </section>
</body>
</html>
