{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Privatlivspolitik for Danish Short Watch</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <h1>Privatlivspolitik for Danish Short Watch app</h1>
</header>

<section>

<p><strong>Sidst opdateret: 10-11-2023</strong></p>

<h2>1. Introduktion</h2>
<p>Denne privatlivspolitik handler om, hvordan vi beskytter dit privatliv og sikrer sikkerheden af dine personoplysninger. Denne
    privatlivspolitik forklarer, hvordan vi indsamler, bruger og deler dine oplysninger, når du bruger vores app.</p>

<p>Vi har gjort alt for at gemme så få personlige data som muligt og modtager ikke nogen form for persondata fra
    Apple, og denne hjemmeside indsamler heller ikke cookies.</p>

<h2>2. Hvad er personoplysninger?</h2>
<p>Personoplysninger er enhver form for information om en identificeret eller identificerbar fysisk person. Med andre ord er det
    alle former for information, der direkte eller indirekte kan henføres til en person. Dette kan f.eks. være et fornavn
    og efternavn, en hjemmeadresse, en e-mailadresse eller en IP-adresse.</p>

<h2>3. Vi er databehandler - hvordan kontakter du os?</h2>
<p>Zirium er databehandler for behandlingen af de personoplysninger, vi har modtaget om dig. Du finder vores
    kontaktoplysninger nedenfor.</p>

<div class="contact-info">
    <p>Zirium</p>
    <p>Nordre Fasanvej 64, 4. 44</p>
    <p>2000 Frederiksberg</p>
    <p>danishshortwatch@gmail.com</p>
</div>

<h2>4. Oplysninger, vi indsamler</h2>
<p>Vi kan indsamle følgende typer oplysninger, når du bruger vores app:</p>
<ul>
    <li><strong>Brugsoplysninger:</strong> Vi indsamler oplysninger om, hvordan du bruger vores app, herunder appbrugsdata,
        logfiler og analyser.
    </li>
    <li><strong>Enhedsoplysninger:</strong> Vi kan indsamle oplysninger om den enhed, du bruger til at få adgang til vores app,
        herunder enhedstype og operativsystem.
    </li>
    <li><strong>Personoplysninger:</strong> Vi indsamler og logger din IP-adresse, og i tilfælde af e-mailkommunikation vil vi
        gemme din e-mailadresse, som udelukkende vil blive brugt til kommunikation med dig.
    </li>
</ul>

<h2>5. Sådan bruger vi dine oplysninger</h2>
<p>Vi kan bruge dine oplysninger til følgende formål:</p>
<ul>
    <li>At levere og opretholde funktionaliteten af vores app.</li>
    <li>At kommunikere med dig, svare på dine anmodninger og yde kundesupport.</li>
    <li>At forbedre vores app og analysere brugsmønstre.</li>
    <li>At overholde juridiske og regulatoriske krav.</li>
</ul>

<h2>6. Deling af oplysninger</h2>
<p>Vi sælger ikke eller deler dine personoplysninger med tredjeparter.</p>

<p>Vi bruger Googles Gmail som vores e-mailtjenesteudbyder.</p>

<h2>7. Hvor dine personoplysninger stammer fra</h2>
<p>Vi logger din IP-adresse, når appen anmoder om data fra vores service. Din e-mail fås kun, hvis du kommunikerer
    med os via e-mail.</p>

<h2>Lagring af dine personoplysninger</h2>
<p>Vi opbevarer personoplysninger højst 2 år efter din seneste e-mailkontakt eller din sidste brug af appen.</p>

<h2>8. Ret til at trække samtykke tilbage</h2>
<p>Du har ret til at trække dit samtykke tilbage når som helst. Du kan gøre dette ved at kontakte os ved hjælp af
    kontaktoplysningerne angivet i punkt 3 ovenfor.</p>
<p>Hvis du vælger at trække dit samtykke tilbage, påvirker det ikke lovligheden af vores behandling af dine personoplysninger
    baseret på dit tidligere givne samtykke, op til tidspunktet for tilbagekaldelse. Derfor vil tilbagekaldelse af dit
    samtykke kun have virkning fra det tidspunkt og fremefter.</p>

<h4>Dine rettigheder</h4>
<p>I henhold til databeskyttelsesreglerne har du flere rettigheder vedrørende vores behandling af oplysninger om dig.</p>
<p>Hvis du ønsker at udnytte dine rettigheder, bedes du kontakte os.</p>

<h4>Ret til adgang til oplysninger (Ret til adgang)</h4>
<p>Du har ret til at få adgang til de oplysninger, vi behandler om dig, samt yderligere oplysninger.</p>

<h4>Ret til rettelse (Korrektion)</h4>
<p>Du har ret til at få ukorrekte oplysninger om dig selv rettet.</p>

<h4>Ret til sletning</h4>
<p>I visse tilfælde har du ret til at få oplysninger om dig slettet, inden vores regelmæssige generelle sletning
    finder sted.</p>

<h4>Ret til begrænsning af behandling</h4>
<p>I visse tilfælde har du ret til at få begrænset behandlingen af dine personoplysninger. Hvis du har ret til
    at begrænse behandlingen, må vi kun behandle oplysningerne, eksklusive opbevaring, med dit samtykke eller
    for etablering, udøvelse eller forsvar af retlige krav, eller for at beskytte en person eller væsentlige
    samfundsmæssige interesser.</p>

<h4>Ret til indsigelse</h4>
<p>I visse tilfælde har du ret til at gøre indsigelse mod vores lovlige behandling af dine personoplysninger. Du kan
    også gøre indsigelse mod behandlingen af dine oplysninger af hensyn til direkte markedsføring.</p>

<h4>Ret til dataportabilitet</h4>
<p>I visse tilfælde har du ret til at modtage dine personoplysninger i et struktureret, almindeligt anvendt og
    maskinlæsbart format og få disse personoplysninger overført fra én databehandler til en anden uden hindring.</p>

<p>Du kan læse mere om dine rettigheder i Datatilsynets vejledning om registreredes rettigheder, som
    kan findes på <a href="https://www.datatilsynet.dk">www.datatilsynet.dk</a>.</p>

<h2>9. Klage til Datatilsynet</h2>
<p>Du har ret til at indgive en klage til Datatilsynet, hvis du er utilfreds med den måde, vi behandler dine
    personoplysninger på. Du finder kontaktoplysningerne til Datatilsynet på <a
            href="https://www.datatilsynet.dk">www.datatilsynet.dk</a>.</p>
</section>
</body>
</html>
