{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Terms of Agreement for Danish Short Watch</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <h1>Terms of Agreement for use of the Danish Short Watch App</h1>
</header>

<section>

<p>We cannot guarantee the accuracy of data within the Danish Short Watch app (the app). This data is collected from
    Danish FSA’s web portal which is a database for company announcements filed by companies
    which under section 25 of the Danish Capital Markets Act are obliged to file information with the Danish
    FSA.</p>

    <p>We are not responsible for how users utilize the app or the information and materials published therein.</p>

    <p>Users are solely responsible for downloading or using information and other resources publicly available in the app,
    including those accessed through external links.</p>

    <p>We cannot be held liable for delays or errors in data.</p>

    <p>We are not responsible for loss on the user or any indirect losses incurred.</p>

    </section>
</body>
</html>
