django==5.2.7
djangorestframework==3.17.1
mysqlclient==2.2.7
django-jazzmin==3.0.4
selenium==4.43.0
djangorestframework-api-key==3.0.0
django-environ==0.13.0
django-cors-headers==4.9.0

pytz~=2023.3.post1
requests~=2.31.0
firebase-admin==6.5.0

yfinance==0.2.66