{% extends "admin/index.html" %}
{% load static %}

{% block charts %}

<div class="container-fluid">

    <h2 class="text-center mt-3 mb-3">Summary</h2>

    <div class="row justify-content-center">

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="totalSeafarersTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="totalSeafarers"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="totalActiveSeafarersTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="totalActiveSeafarers"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="activeSeafarersTodayTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="activeSeafarersToday"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="avgAgeTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="avgAge"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="avgUsageTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="avgUsage"></span>
                </div>
            </div>
        </div>

         <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="acceptanceRatioTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="acceptanceRatio"></span>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-3 mb-3">Distributions</h2>

    <div class="row justify-content-center">


        <div class="col-7">
            <canvas id="opDistChart"></canvas>
        </div>

    </div>

    <h2 class="text-center mt-4 mb-3">Charts</h2>

    <div class="row justify-content-center">

        <div class="col-10">
            <canvas id="joinedChart"></canvas>
        </div>

        <div class="col-10">
            <canvas id="ageChart"></canvas>
        </div>

        <div class="col-10">
            <canvas id="activeChart"></canvas>
        </div>
    </div>

    <h2 class="text-center mt-3 mb-5">Tables</h2>

    <div class="row justify-content-left">
        <div class="col-7">
            <table class="table caption-top table-bordered" id="rankTable"></table>
        </div>

        <div class="col-7 mt-5">
            <table class="table caption-top table-bordered" id="nationalityTable"></table>
        </div>

        <div class="col-7 mt-5">
            <table class="table caption-top table-bordered" id="nationalityRankTable"></table>
        </div>

        <div class="col-7 mt-5">
            <table class="table caption-top table-bordered" id="rankNationalityTable"></table>
        </div>
    </div>
</div>

<script src="{% static 'dashboard/js/seafarers.js' %}"></script>

{% endblock %}