{% extends "admin/index.html" %}
{% load static %}

{% block charts %}

<div class="container-fluid">

    <h2 class="text-center mt-3 mb-3">Summary</h2>

    <div class="row justify-content-center mt-4">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="totalVesselsTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="totalVessels"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="totalActiveVesselsTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="totalActiveVessels"></span>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <span id="totalVesselsEtaComingWeekTitle"></span>
                </div>
                <div class="card-body text-center">
                    <span id="totalVesselsEtaComingWeek"></span>
                </div>
            </div>
        </div>
    </div>

    <h2 class="text-center mt-3 mb-3">Charts</h2>

    <div class="row justify-content-center">

        <div class="col-10">
            <canvas id="vesselChart"></canvas>
        </div>

    </div>
</div>

<script src="{% static 'dashboard/js/vessels.js' %}"></script>

{% endblock %}